@import url('https://fonts.googleapis.com/css?family=Roboto:500,500i,700,700i,900,900i');
@import url('https://fonts.googleapis.com/css?family=Merriweather|Roboto:500,500i,700,700i,900,900i');
h1{
    color: #5CDB95;
    font-size: 5em;
    text-align: center;
    text-decoration:underline;
    font-weight: bold; 
    font-family: "Roboto";
}

a:link,
a:visited {
    color: black;
    text-decoration: none;
    font-weight: 100;
}
a:hover {
    color: lightcoral;
    font-size: 2em;
}
a{
    text-align: center;
}
body {
    text-align: center;
    font-family: "Roboto";
}
footer {
    text-align: left;
}
body {
    color: goldenrod;
}
h1 {
    border-style: groove;
}
h1 {
    border-width: thick; 
}
h1 {
    border-color: gold;
}
h2 {
    border-color: goldenrod;
    border-width: thick;
}
.writing {
    border-style: groove;
    border-width: thick;
    border-color: pink;
    padding-right: 15%;
    padding-left: 15%;
    margin-left: 5%;
    margin-right: 5%;

}
canvas {
    border-style: solid;
    border-width: thick;
    border-color: #5CDB95;
}